{% extends "baza.html" %}
{% block title %}Registriraj se{% endblock %}
{% block content %} <form method ="POST">
                      <h3 align="center"> Registriraj se </h3>
                      <div class="form-group">
                        <label for="email">Email adresa</label>
                        <input type="email"
                               class="form-control"
                               id="email" name="email"
                               placeholder="Upišite email adresu"/>
                      </div>
                      <div class="form-group">
                        <label for="ime">Ime</label>
                        <input type="text"
                               class="form-control"
                               id="ime" name="ime"
                               placeholder="Upišite ime"/>
                      </div>
                      <div class="form-group">
                        <label for="sifra">Sifra</label>
                        <input type="password"
                               class="form-control"
                               id="sifra" name="sifra"
                               placeholder="Upišite šifru"/>
                      </div>
                      <div class="form-group">
                        <label for="sifra1">Sifra (Potvrdena)</label>
                        <input type="password"
                               class="form-control"
                               id="sifra1" name="sifra1"
                               placeholder="Potvrdite šifru"/>
                     </div>
                     <br/>
                     <button type="submit" class="btn btn-primary">Potvrdi</button>

                    </form>
{% endblock %}
